.container-div {
    background-color: #1E1E1E;
    width: 50%;
    height: 100vh;
    color: #cdcdcc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}